<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />

</head>
<body>
	<h1>Fomulário de Cadastro de um Cliente</h1><br />
	
	<!--  action é para onde eu vou enviar os dados do meu formulário -->
	<form th:action="@{/cadastrar}" method="post">
		<input name="nome" placeholder="nome do cliente" /> <br />
		<input name="" placeholder="telefone" /><br />
		<input name="" placeholder="endereço do meu cliente" /><br />
		<input name="cPF" placeholder="CPF" /><br />
		<input type="submit" />

	</form>
	<p></p>
	<script th:src="@{webjars/jquery/jquery.mim.js}"></script>
	<script th:src="@{webjars/bootstrap/js/bootstrap.mim.js}"></script>



</body>
</html>



